@using RestaurantAlloraProject.ViewModels.Dish
@model DishCreateViewModel
@{
    ViewData["Title"] = "Създай ястие";
}

<h2 class="dish-form-title">Създай ястие</h2>
<form asp-action="Create" method="post" asp-controller="Dish" enctype="multipart/form-data" class="dish-form-card">

    <div class="mb-3">
        <label asp-for="@Model.NameOfTheDish" class="form-label">Име</label>
        <input asp-for="@Model.NameOfTheDish" class="form-control" />
        <span asp-validation-for="NameOfTheDish" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.DescriptionOfTheDish" class="form-label">Описание</label>
        <textarea asp-for="@Model.DescriptionOfTheDish" class="form-control"></textarea>
        <span asp-validation-for="DescriptionOfTheDish" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.PriceOfTheDish" class="form-label">Цена (€)</label>
        <input asp-for="@Model.PriceOfTheDish" class="form-control" />
        <span asp-validation-for="PriceOfTheDish" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.CategoryOfTheDish" class="form-label">Категория</label>
        <select asp-for="@Model.CategoryOfTheDish" asp-items="ViewBag.Categories" class="form-select"></select>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.Picture" class="form-label">Качи снимка</label>
        <input asp-for="@Model.Picture" type="file" accept="image/gif,image/jpeg,image/png,image/webp" class="form-control" />
        <span asp-validation-for="Picture" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Алергени</label> 
        <select asp-for="SelectedAllergenIds"
                asp-items="ViewBag.Allergens"
                id="allergensSelect"
                multiple
                class="form-select">
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Запази</button>
    <a asp-controller="Dish" asp-action="Index" class="btn btn-secondary">Назад</a>
</form>

