@using RestaurantAlloraProject.ViewModels.Dish
@model DishCreateViewModel
<h2 class="text-black">Create dish:</h2>
<form asp-action="Create" method="post" asp-controller="Dish">

    <div class="mb-3">
        <label asp-for="@Model.NameOfTheDish" class="form-label">Name</label>
        <input asp-for="@Model.NameOfTheDish" class="form-control" />
        <span asp-validation-for="NameOfTheDish" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.DescriptionOfTheDish" class="form-label">Description</label>
        <textarea asp-for="@Model.DescriptionOfTheDish" class="form-control"></textarea>
        <span asp-validation-for="DescriptionOfTheDish" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.PriceOfTheDish" class="form-label">Price</label>
        <input asp-for="@Model.PriceOfTheDish" class="form-control" />
        <span asp-validation-for="PriceOfTheDish" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.CategoryOfTheDish" class="form-label">Category</label>
        <select asp-for="@Model.CategoryOfTheDish" asp-items="ViewBag.Categories" class="form-select"></select>
    </div>
    <div class="mb-3">
        <label asp-for="@Model.ImageUrl" class="form-label">ImageURL</label>
        <input asp-for="@Model.ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">Allergens</label> 
        <select asp-for="SelectedAllergenIds"
                asp-items="Model.Allergens"
                id="allergensSelect"
                multiple
                class="form-select">
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-controller="Dish" asp-action="Index" class="btn btn-secondary">Back</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const artistSelect = document.getElementById('allergensSelect');

            new Choices(artistSelect, {
                removeItemButton: true,
                searchEnabled: true,
                placeholderValue: 'Select allergens',
                noResultsText: 'No allergens found',
                itemSelectText: 'Click to select',
                shouldSort: false
            });
        });
    </script>
}
<style>
    .choices__item {
        background-color: #0d6efd;
        color: white;
        border-radius: 0.375rem;
        padding: 0.25rem 0.5rem;
    }

    .choices__item--selectable {
        background-color: #0d6efd !important;
        color: white !important;
    }

    .choices__button {
        color: white !important;
    }
</style>


